body {
    background-color: #556052;
    color: #cbbcb1;
    font-family: 'Hind', sans-serif;
}
header {

}
/* Text alignment */
.center-align{
    text-align: center;
}
.left-align{
    text-align: left;
}
.right-align{
    text-align: right;
}