body {
  background-color: white;
  color: #546e7a;
  font-family: 'Jost', sans-serif;
}
#heroIMG {   
  display: block;
  margin: 0 auto;  
  position: center;
  background-size: cover;
}

#footer { 
   
  padding: 10px 10px 0px 10px; 
  bottom: 0; 
  width: 100%; 
  /* Height of the footer*/  
  height: 40px;
}  
select{
  margin:40px;
  background: rgba(0,0,0,0.3);
  color:#fff;
  text-shadow:0 1px 0 rgba(0,0,0,0.4);
  }
